XML/first.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="home">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="maink">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="appname"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="rent"/>
              <xs:element type="xs:string" name="duration"/>
              <xs:element type="xs:string" name="location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>